/* h3 {
    color:#2144A0;
}
.ig {
  
   max-width: 100%;
   height: auto;
  
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: url('static/images/ig.jpeg') ;
}
 */
