/* .top-margin{
    margin-top: 5em;
}
.signup-fields {
    color: #262626;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 12px;
    max-width: 350px;
}
#register label{
    display: none;
}
.form-text > ul{
    display: none;
}
.text-muted{
    display: none;
}
div.mylogo{
    width: 100%;
    height: 80px;
}
img.mylogo{
    margin-left: 60px;
    width: 60%;
}
.avat>img{
    vertical-align: middle;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /* display: inline-block; */
    /* clear: left; */
} */